infrastructure/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 'BDA Media Processing System - SAM Infrastructure'

Parameters:
  EnvironmentName:
    Type: String
    Default: dev
    Description: Environment name for resource naming
    AllowedValues:
      - dev
      - staging
      - prod

  ResourceSuffix:
    Type: String
    Default: ''
    Description: Optional suffix to append to resource names for uniqueness
    MaxLength: 10

  BDAProfileArn:
    Type: String
    Default: ''
    Description: Optional ARN of existing BDA Profile (leave blank to use default us.data-automation-v1 profile)

  BedrockModelId:
    Type: String
    Default: us.amazon.nova-pro-v1:0
    Description: Bedrock model ID for structured data extraction
    AllowedValues:
      - us.amazon.nova-pro-v1:0

  S3BucketName:
    Type: String
    Default: ''
    Description: Existing S3 bucket name (leave blank to create new bucket)

Conditions:
  CreateBucket: !Equals [!Ref S3BucketName, '']
  UseDefaultProfile: !Equals [!Ref BDAProfileArn, '']

Globals:
  Function:
    Runtime: python3.12
    MemorySize: 512
    Timeout: 300
    Environment:
      Variables:
        DYNAMODB_TABLE: !Ref JobsTable
        S3_BUCKET: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
        AWS_ACCOUNT_ID: !Ref AWS::AccountId
        ALLOWED_ORIGIN: !Sub 'https://${CloudFrontDistribution.DomainName}'
        BDA_PROFILE_ARN: !If
          - UseDefaultProfile
          - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
          - !Ref BDAProfileArn
        BDA_PROJECT_ARN: !GetAtt BDAProject.ProjectArn
        BDA_BLUEPRINT_ARN: !If
          - UseDefaultProfile
          - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
          - !Ref BDAProfileArn
        BEDROCK_MODEL_ID: !Ref BedrockModelId
    Tags:
      Application: BDA-Media-Processing
      Environment: !Ref EnvironmentName
  Api:
    Cors:
      AllowOrigin: !Sub "'https://${CloudFrontDistribution.DomainName}'"
      AllowHeaders: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'"
      AllowMethods: "'OPTIONS,POST,GET'"
    Auth:
      Authorizers:
        CognitoAuthorizer:
          UserPoolArn: !GetAtt UserPool.Arn

Resources:
  BDAProject:
    Type: AWS::Bedrock::DataAutomationProject
    Properties:
      ProjectName: !Sub 'bda-multimodal-project-${EnvironmentName}-${ResourceSuffix}'
      ProjectDescription: Comprehensive BDA project with all standard outputs enabled for document, image, video, and audio processing
      StandardOutputConfiguration:
        Document:
          Extraction:
            Granularity:
              Types:
                - DOCUMENT
                - PAGE
                - ELEMENT
                - WORD
                - LINE
            BoundingBox:
              State: ENABLED
          GenerativeField:
            State: ENABLED
          OutputFormat:
            TextFormat:
              Types:
                - PLAIN_TEXT
                - MARKDOWN
            AdditionalFileFormat:
              State: ENABLED
        Image:
          Extraction:
            Category:
              State: ENABLED
              Types:
                - CONTENT_MODERATION
                - TEXT_DETECTION
                - LOGOS
            BoundingBox:
              State: ENABLED
          GenerativeField:
            State: ENABLED
            Types:
              - IMAGE_SUMMARY
              - IAB
        Video:
          Extraction:
            Category:
              State: ENABLED
              Types:
                - TRANSCRIPT
                - TEXT_DETECTION
                - CONTENT_MODERATION
                - LOGOS
            BoundingBox:
              State: ENABLED
          GenerativeField:
            State: ENABLED
            Types:
              - VIDEO_SUMMARY
              - CHAPTER_SUMMARY
              - IAB
        Audio:
          Extraction:
            Category:
              State: ENABLED
              Types:
                - TRANSCRIPT
                - AUDIO_CONTENT_MODERATION
                - TOPIC_CONTENT_MODERATION
          GenerativeField:
            State: ENABLED
            Types:
              - AUDIO_SUMMARY
              - TOPIC_SUMMARY
              - IAB
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  JobsTable:
    Type: AWS::DynamoDB::Table
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_28"
            comment: "POC demo - Point-in-time recovery not required for disposable demo data"
          - id: "CKV_AWS_119"
            comment: "POC demo - AWS-managed encryption sufficient, customer-managed KMS keys are production requirement"
    Properties:
      TableName: !Sub 'bda-media-jobs-${EnvironmentName}-${ResourceSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
        - AttributeName: bda_invocation_id
          AttributeType: S
        - AttributeName: user_id
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: bda-invocation-index
          KeySchema:
            - AttributeName: bda_invocation_id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
        - IndexName: user-index
          KeySchema:
            - AttributeName: user_id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  MediaBucket:
    Type: AWS::S3::Bucket
    Condition: CreateBucket
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_18"
            comment: "POC demo - S3 access logging not required for demo environment, production checklist item"
    Properties:
      BucketName: !Sub 'bda-media-${EnvironmentName}-${ResourceSuffix}-${AWS::AccountId}'
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
      CorsConfiguration:
        CorsRules:
          - AllowedOrigins:
              - !Sub 'https://${CloudFrontDistribution.DomainName}'
            AllowedMethods:
              - GET
              - PUT
              - POST
              - HEAD
            AllowedHeaders:
              - '*'
            ExposedHeaders:
              - ETag
              - x-amz-request-id
              - x-amz-id-2
              - x-amz-server-side-encryption
            MaxAge: 3600
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'bda-media-lambda-role-${EnvironmentName}-${ResourceSuffix}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: BDAMediaProcessingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource:
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
                Condition:
                  StringLike:
                    s3:prefix:
                      - 'raw-media/*'
                      - 'processed-media/*'
                      - 'bda-output/*'
                      - 'transcripts/*'
                      - 'results/*'
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:CopyObject
                Resource:
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}/raw-media/*'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}/processed-media/*'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}/bda-output/*'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}/transcripts/*'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
                  - !Sub
                    - 'arn:aws:s3:::${BucketName}/results/*'
                    - BucketName: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:Query
                Resource:
                  - !GetAtt JobsTable.Arn
                  - !Sub '${JobsTable.Arn}/index/bda-invocation-index'
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource:
                  - 'arn:aws:bedrock:*::foundation-model/us.amazon.nova-pro-v1:0'
                  - 'arn:aws:bedrock:*::foundation-model/amazon.nova-pro-v1:0'
                  - !Sub 'arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/us.amazon.nova-pro-v1:0'
              - Effect: Allow
                Action:
                  - bedrock:InvokeDataAutomationAsync
                  - bedrock:GetDataAutomationStatus
                Resource:
                  - !Sub 'arn:aws:bedrock:us-east-1:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
                  - !Sub 'arn:aws:bedrock:us-east-2:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
                  - !Sub 'arn:aws:bedrock:us-west-1:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
                  - !Sub 'arn:aws:bedrock:us-west-2:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
                  - !If
                    - UseDefaultProfile
                    - !Ref AWS::NoValue
                    - !Ref BDAProfileArn
                  - !GetAtt BDAProject.ProjectArn
              - Effect: Allow
                Action:
                  - states:SendTaskSuccess
                  - states:SendTaskFailure
                Resource:
                  - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:bda-media-workflow-${EnvironmentName}-${ResourceSuffix}'
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'bda-media-stepfunctions-role-${EnvironmentName}-${ResourceSuffix}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt InitializeJobFunction.Arn
                  - !GetAtt BDATriggerFunction.Arn
                  - !GetAtt ExtractResultsFunction.Arn
                  - !GetAtt StructuredDataFunction.Arn
                  - !GetAtt ValidateResultsFunction.Arn
                  - !GetAtt CompleteJobFunction.Arn
                  - !GetAtt HandleErrorFunction.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'bda-media-eventbridge-role-${EnvironmentName}-${ResourceSuffix}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeStartExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt MediaProcessingStateMachine.Arn
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  APICreateJobFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ adds complexity for minimal benefit in demo, Step Functions provides workflow reliability"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-api-create-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: api_create_job.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        CreateJob:
          Type: Api
          Properties:
            Path: /jobs
            Method: POST
            Auth:
              Authorizer: CognitoAuthorizer

  APIGetStatusFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for read-only status endpoint"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-api-status-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: api_get_status.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        GetStatus:
          Type: Api
          Properties:
            Path: /jobs/{job_id}
            Method: GET
            Auth:
              Authorizer: CognitoAuthorizer

  InitializeJobFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for workflow initialization step"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-initialize-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: initialize_job.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          RAW_PREFIX: raw-media
          PROCESSED_PREFIX: processed-media

  BDATriggerFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ adds complexity for minimal benefit in demo, Step Functions provides workflow reliability"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-bda-trigger-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: bda_trigger.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  ExtractResultsFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for workflow step"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-extract-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: extract_results.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  StructuredDataFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for workflow step"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-structured-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: structured_data.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  ValidateResultsFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for workflow step"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-validate-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: validate_results.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  CompleteJobFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for workflow step"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-complete-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: complete_job.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  HandleErrorFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ not critical for error handler function"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-media-error-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: handle_error.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  BDAEventBridgeHandlerFunction:
    Type: AWS::Serverless::Function
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_115"
            comment: "POC demo - Concurrency limits not required, AWS account limits provide protection"
          - id: "CKV_AWS_116"
            comment: "POC demo - DLQ adds complexity for minimal benefit in demo, EventBridge provides retry mechanism"
          - id: "CKV_AWS_117"
            comment: "POC demo - VPC deployment not required, no private resources to access"
          - id: "CKV_AWS_173"
            comment: "POC demo - AWS-managed encryption sufficient for environment variables"
    Properties:
      FunctionName: !Sub 'bda-eventbridge-handler-${EnvironmentName}-${ResourceSuffix}'
      CodeUri: ../lambda/
      Handler: bda_eventbridge_handler.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  MediaProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub 'bda-media-workflow-${EnvironmentName}-${ResourceSuffix}'
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "BDA Media Processing Workflow",
          "StartAt": "InitializeJob",
          "States": {
            "InitializeJob": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${InitializeJobFunction.Arn}",
                "Payload": {
                  "bucket.$": "$.input.bucket",
                  "key.$": "$.input.key"
                }
              },
              "ResultPath": "$.initResult",
              "ResultSelector": {
                "body.$": "$.Payload.body"
              },
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "HandleError",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "TriggerBDA"
            },
            "TriggerBDA": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Comment": "Trigger BDA job and wait for EventBridge completion callback",
              "Parameters": {
                "FunctionName": "${BDATriggerFunction.Arn}",
                "Payload": {
                  "job_id.$": "$.initResult.body.job_id",
                  "processed_key.$": "$.initResult.body.processed_key",
                  "task_token.$": "$$.Task.Token"
                }
              },
              "HeartbeatSeconds": 900,
              "ResultPath": "$.bdaResult",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "HandleError",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "ExtractResults"
            },
            "ExtractResults": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ExtractResultsFunction.Arn}",
                "Payload": {
                  "job_id.$": "$.bdaResult.job_id",
                  "bda_response": {
                    "invocationArn.$": "$.bdaResult.bda_invocation_id"
                  }
                }
              },
              "ResultPath": "$.extractResult",
              "ResultSelector": {
                "body.$": "$.Payload.body"
              },
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "HandleError",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "ProcessStructuredData"
            },
            "ProcessStructuredData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${StructuredDataFunction.Arn}",
                "Payload": {
                  "job_id.$": "$.extractResult.body.job_id",
                  "content.$": "$.extractResult.body.content"
                }
              },
              "ResultPath": "$.structuredResult",
              "ResultSelector": {
                "body.$": "$.Payload.body"
              },
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "HandleError",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "ValidateResults"
            },
            "ValidateResults": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ValidateResultsFunction.Arn}",
                "Payload": {
                  "job_id.$": "$.structuredResult.body.job_id",
                  "structured_data.$": "$.structuredResult.body.structured_data"
                }
              },
              "ResultPath": "$.validationResult",
              "ResultSelector": {
                "body.$": "$.Payload.body"
              },
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "HandleError",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "CompleteJob"
            },
            "CompleteJob": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CompleteJobFunction.Arn}",
                "Payload": {
                  "job_id.$": "$.validationResult.body.job_id",
                  "validation_result.$": "$.validationResult.body"
                }
              },
              "ResultPath": "$.completeResult",
              "ResultSelector": {
                "body.$": "$.Payload.body"
              },
              "End": true
            },
            "HandleError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${HandleErrorFunction.Arn}",
                "Payload": {
                  "error.$": "$.error",
                  "context.$": "$$"
                }
              },
              "ResultPath": "$.errorResult",
              "End": true
            }
          }
        }
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  S3UploadEventRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub 'bda-media-s3-trigger-${EnvironmentName}-${ResourceSuffix}'
      Description: Trigger Step Functions when media file uploaded to S3
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
        detail:
          bucket:
            name:
              - !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
          object:
            key:
              - prefix: raw-media/
      State: ENABLED
      Targets:
        - Arn: !GetAtt MediaProcessingStateMachine.Arn
          RoleArn: !GetAtt EventBridgeRole.Arn
          Id: StepFunctionsTarget
          InputTransformer:
            InputPathsMap:
              bucket: $.detail.bucket.name
              key: $.detail.object.key
            InputTemplate: |
              {
                "input": {
                  "bucket": <bucket>,
                  "key": <key>
                }
              }

  BDACompletionEventRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub 'bda-completion-callback-${EnvironmentName}-${ResourceSuffix}'
      Description: Trigger Lambda when BDA job completes to resume Step Functions
      EventPattern:
        source:
          - aws.bedrock
        detail-type:
          - Bedrock Data Automation Job Succeeded
          - Bedrock Data Automation Job Failed With Client Error
          - Bedrock Data Automation Job Failed With Service Error
      State: ENABLED
      Targets:
        - Arn: !GetAtt BDAEventBridgeHandlerFunction.Arn
          Id: BDACallbackHandler

  BDAEventBridgeHandlerPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref BDAEventBridgeHandlerFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt BDACompletionEventRule.Arn

  UserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub 'bda-media-users-${EnvironmentName}-${ResourceSuffix}'
      AutoVerifiedAttributes:
        - email
      Policies:
        PasswordPolicy:
          MinimumLength: 8
          RequireUppercase: true
          RequireLowercase: true
          RequireNumbers: true
          RequireSymbols: true
          TemporaryPasswordValidityDays: 7
      Schema:
        - Name: email
          AttributeDataType: String
          Mutable: true
          Required: true
      UsernameAttributes:
        - email
      UsernameConfiguration:
        CaseSensitive: false
      UserPoolTags:
        Application: BDA-Media-Processing
        Environment: !Ref EnvironmentName

  UserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: !Sub 'bda-media-client-${EnvironmentName}-${ResourceSuffix}'
      UserPoolId: !Ref UserPool
      ExplicitAuthFlows:
        - ALLOW_USER_SRP_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
      # checkov:skip=CKV_SECRET_6: False positive - "GenerateSecret" is a CloudFormation property name, not an actual secret
      GenerateSecret: false
      IdTokenValidity: 60
      TokenValidityUnits:
        IdToken: minutes
      PreventUserExistenceErrors: ENABLED

  FrontendBucket:
    Type: AWS::S3::Bucket
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_18"
            comment: "POC demo - S3 access logging not required for static frontend hosting in demo"
          - id: "CKV_AWS_21"
            comment: "POC demo - Versioning not required for static frontend files, can redeploy easily"
    Properties:
      BucketName: !Sub 'bda-media-frontend-${EnvironmentName}-${ResourceSuffix}-${AWS::AccountId}'
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: index.html
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

  CloudFrontOAI:
    Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: Access to BDA Media Frontend

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              CanonicalUser: !GetAtt CloudFrontOAI.S3CanonicalUserId
            Action: s3:GetObject
            Resource: !Sub '${FrontendBucket.Arn}/*'

  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_86"
            comment: "POC demo - CloudFront access logging not required for demo environment"
          - id: "CKV_AWS_68"
            comment: "POC demo - WAF not required for internal trusted users, production checklist item"
          - id: "CKV_AWS_174"
            comment: "POC demo - AWS CloudFront defaults provide secure TLS settings"
    Properties:
      DistributionConfig:
        Enabled: true
        DefaultRootObject: index.html
        Origins:
          - Id: S3Origin
            DomainName: !GetAtt FrontendBucket.RegionalDomainName
            S3OriginConfig:
              OriginAccessIdentity: !Sub 'origin-access-identity/cloudfront/${CloudFrontOAI}'
        DefaultCacheBehavior:
          TargetOriginId: S3Origin
          ViewerProtocolPolicy: redirect-to-https
          AllowedMethods:
            - GET
            - HEAD
            - OPTIONS
          CachedMethods:
            - GET
            - HEAD
            - OPTIONS
          ForwardedValues:
            QueryString: false
            Cookies:
              Forward: none
          Compress: true
          DefaultTTL: 86400
          MaxTTL: 31536000
          MinTTL: 0
        CustomErrorResponses:
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html
            ErrorCachingMinTTL: 300
          - ErrorCode: 403
            ResponseCode: 200
            ResponsePagePath: /index.html
            ErrorCachingMinTTL: 300
        PriceClass: PriceClass_100
      Tags:
        - Key: Application
          Value: BDA-Media-Processing
        - Key: Environment
          Value: !Ref EnvironmentName

Outputs:
  APIEndpoint:
    Description: API Gateway endpoint URL
    Value: !Sub 'https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod'
    Export:
      Name: !Sub '${AWS::StackName}-APIEndpoint'

  S3BucketName:
    Description: S3 bucket for media files
    Value: !If [CreateBucket, !Ref MediaBucket, !Ref S3BucketName]
    Export:
      Name: !Sub '${AWS::StackName}-S3Bucket'

  DynamoDBTableName:
    Description: DynamoDB table for job tracking
    Value: !Ref JobsTable
    Export:
      Name: !Sub '${AWS::StackName}-DynamoDBTable'

  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !GetAtt MediaProcessingStateMachine.Arn
    Export:
      Name: !Sub '${AWS::StackName}-StateMachineArn'

  BDAProjectArn:
    Description: Bedrock Data Automation Project ARN
    Value: !GetAtt BDAProject.ProjectArn
    Export:
      Name: !Sub '${AWS::StackName}-BDAProjectArn'

  BDAProfileArn:
    Description: Bedrock Data Automation Profile ARN
    Value: !If
      - UseDefaultProfile
      - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:data-automation-profile/us.data-automation-v1'
      - !Ref BDAProfileArn
    Export:
      Name: !Sub '${AWS::StackName}-BDAProfileArn'

  CreateJobEndpoint:
    Description: POST endpoint to create new job
    Value: !Sub 'https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/jobs'

  GetStatusEndpoint:
    Description: GET endpoint to retrieve job status
    Value: !Sub 'https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/jobs/{job_id}'

  UserPoolId:
    Description: Cognito User Pool ID
    Value: !Ref UserPool
    Export:
      Name: !Sub '${AWS::StackName}-UserPoolId'

  UserPoolClientId:
    Description: Cognito User Pool Client ID
    Value: !Ref UserPoolClient
    Export:
      Name: !Sub '${AWS::StackName}-UserPoolClientId'

  FrontendBucketName:
    Description: S3 bucket for frontend application
    Value: !Ref FrontendBucket
    Export:
      Name: !Sub '${AWS::StackName}-FrontendBucket'

  CloudFrontDistributionId:
    Description: CloudFront distribution ID
    Value: !Ref CloudFrontDistribution
    Export:
      Name: !Sub '${AWS::StackName}-CloudFrontDistributionId'
